/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
    font-family: verdana
}

p {

}

a {

}

/* Колонки */



/* Потом селекторы по классам */

.text-input {

}

.button {

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {


}


/* Страничка жанров и тегов */
.genre {
    border-radius: 4px;
    margin: 10px 0px;
    padding: 5px 10px;
}


.genre-fiction {
    background-color: #E1F5EA;
    width: 100%
}

.genre-detective {
    background-color: #CBEDFF;
    width: 75%
}

.genre-mystic {
    background-color: rgba(251, 236, 221, 1);
    width: 45%
}

.genre-boevik {
    background-color: #EBDCF9;
    width: 30%
}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
