main {
    width: 300px;
    margin: 0px auto;
    font-family: verdana
}

/* Сперва общие правила */


* {
    font-size: 15px;
    border-radius: 4px;
    box-sizing: border-box;
}

.boxed {
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px 10px;
}

/* Потом селекторы по тегам */

html {

}

h1 {
    margin-top: 25px;
    font-size: 25px;
}

h2 {
    margin-top: 25px;
    font-size: 20px;
}

h3 {
    margin-top: 25px;
    font-size: 17px;
}

p {

}

a {

}

/* Колонки */



/* Потом селекторы по классам */

.text-input {
    padding: 7px;
    width: 90%
}

.button , .button-link {
    text-decoration: none;
    border-radius: 4px;
    background-color: rgba(100, 100, 251, 1);
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 0px 0px 0px 0px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {


}


/* Страничка жанров и тегов */

.genre-fiction {
    background-color: #E1F5EA;
    width: 100%
}

.genre-detective {
    background-color: #CBEDFF;
    width: 75%
}

.genre-mystic {
    background-color: rgba(251, 236, 221, 1);
    width: 45%
}

.genre-boevik {
    background-color: #EBDCF9;
    width: 30%
}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-padding {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-green {
    background-color: #E1F5EA;
    width: 100%
}

.box-purple {
    background-color: #EBDCF9;
    width: 100%
}

.text-large {
    font-size: 20px;
    font-weight: bold
}

/* .button-link {

}
